<!DOCTYPE html>
<html>
   
<meta charset="utf-8">
<title>VOS DROITS CPF</title>
<style>
    html {box-sizing : border-box;
        padding : 10px;
    }
    
    #click-button{
        position:fixed;
  
        bottom : 0;
        width : 100%;
        
    }
    #pub{
        margin-top: 20%;
        font-size : 200%
    }

</style>
<h1>
    Bénénificiez de votre formation 100% prise en charge par l'état
</h1>
<div id="pub">
    Grâce aux droits CPF, vous pourrez bénéficer d'une formation prise en charge à 100% par l'Etat.<br>
    Veuillez remplir le formulaire suivant afin de vos déterminer vos droits à la formation ainsi que vos attentes.
</div>
<div id="click-button" class="text-center">
    <button type="button" class="btn btn-info btn-lg" (click)="onClick()"
    >CONSULTER MES DROITS</button>
</div>
</html>

